batch/task_factorial.zip
**/node_modules
obj/
bin/
**/PublishProfiles/
Az203WebAppSandbox/Az203WebAppSandbox/appsettings.Development.json
Az203WebAppSandbox/Az203WebAppSandbox/Properties/launchSettings.json
