@{
    ViewData["Title"] = "Secrets";
}

    <div class="text-center">
        <h1 class="display-4">Secrets</h1>
        <p>@ViewData["SpecialAgent"]</p>
        <p>You are: @ViewData["UserId"] - @ViewData["Identity"]</p>
        <p>@ViewData["AuthType"]</p>
    </div>
